@model Model.EF.NHANVIEN

@{
    ViewBag.Title = "Thêm nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive" style=" overflow-x: hidden;">

                @using (Html.BeginForm("Create", "Staffs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoTenNV, "Họ và tên",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HoTenNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTenNV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SDT, "Số điện thoại",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NgaySinh, "Ngày sinh",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input name="NgaySinh" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.NgaySinh)" type="date" />
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GioiTinh, "Giới tính",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control" name="GioiTinh">
                                <option value="true" )>Nam</option>
                                <option value="false">Nữ</option>
                                <option value="null">Giới tính khác</option>
                            </select>
                            @*<div class="checkbox">
            @Html.EditorFor(model => model.GioiTinh)
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
        </div>*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaCV, "Chức vụ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaCV", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaCV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HinhAnh, "Hình ảnh",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                            <img src="@Url.Content(Model.HinhAnh)" style="height: 140px; width: 150px; margin: 10px;" id="previewImage" />
                            <input type="file" name="ImageUpload" id="ImageUpload" onchange="previewimg(event)" />
                            @Html.ValidationMessageFor(model => model.HinhAnh)

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm mới" class="btn btn-success" />
                            @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

