
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title | Huflit-Food</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/client/css/style.css" type="text/css">


    <!--Custom CSS-->
    <link href="~/Content/css/mystyle.css" rel="stylesheet" />

    <style>
        html {
            font-family: 'Open Sans', sans-serif;
            scroll-behavior:smooth;
        }
    </style>

</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__auth d-flex flex-row justify-content-end align-items-center">
                                @if (Session["UserAccount"] != null)
                                {
                                    <span style="color:green;text-decoration:underline;text-decoration-color:inherit">@Session["UserAccount"]</span>
                                    <span style="width:10px"></span>
                                    <a href="~/Home/Logout"><i style="font-size:20px" class="fa fa-sign-out icon-logout"></i></a>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#menu"><img style="width: 110px; height: 110px; border-radius: 20px; box-shadow: 0px 0px 6px 4px #ccc;" src="~/Content/img/logo.jpg" alt="FastFood_Logo"></a>
                    </div>
                </div>
                <div style="text-align:center" class="col-lg-6">
                    <nav id="navigator-top" class="header__menu">
                        <ul>
                            <li class="nav-top-item"><a href="~/Home/Index">Thực đơn</li>
                            @*<li class="nav-top-item"><a href="~/Home/Index">Đơn hàng</a></li>*@
                            <li class="nav-top-item"><a href="~/UserInfo/Index">Thông tin cá nhân</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            @if (Session["Cart"] != null)
            {
<li><a href="~/ShoppingCart/ShowToCart"><i class="fa fa-shopping-bag"></i> @Html.Action("BagCart", "ShoppingCart")</a></li>
}
else
            {
                        <li><a href=""><i class="fa fa-shopping-bag"></i> @Html.Action("BagCart", "ShoppingCart")</a></li>
            }
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    @RenderBody();

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Huflit_Food <i class="fa fa-heart" aria-hidden="true"></i></a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Assets/client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/client/js/jquery-ui.min.js"></script>
    <script src="~/Assets/client/js/jquery.slicknav.js"></script>
    <script src="~/Assets/client/js/mixitup.min.js"></script>
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
    <!--Custom JS-->
    <script src="~/Content/js/myjs.js"></script>

    <script>
        let time = document.getElementById('current-time');

        setInterval(() => {
            let d = new Date();
            time.innerHTML = d.toLocaleTimeString();
        }, 1000);

    </script>


</body>

</html>