@model Model.EF.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KHUYENMAI.TenKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHUYENMAI.TenKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.HoTenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HoTenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
