@model Model.EF.MONAN

@{
    ViewBag.Title = "Xoá món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive" style=" overflow-x: hidden;">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TenMonAn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenMonAn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LOAIMONAN.TenLoaiMonAn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LOAIMONAN.TenLoaiMonAn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Anh)
                    </dt>

                    <dd>
                        <img src="@Url.Content(Model.Anh)" style="height:140px;width:180px;margin:10px" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gia)
                    </dt>

                    <dd>
                        @string.Format("{0:#,0}", Model.Gia) VND
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoLuong)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xoá" class="btn btn-success" />
                @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-danger" })
            </div>
                }
            </div>
        </div>
    </div>
</div>
